<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Spotify Tracks App</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
         #resultTable td:nth-child(1) {
            width: 150px;
         }
         #resultTable td:nth-child(2) {
            width: 150px;
         }
         #resultTable td:nth-child(3) {
            width: 350px;
         }
         #resultTable td:nth-child(2) {
            width: 150px;
         }
      </style>
   </head>
   <body>
      <h3 class="text-center">AloTech Interview Project</h3>
      <form class="p-4">
         <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="genre" name="genre"></textarea>
            <label for="genre">Enter the genre</label>
         </div>
         <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary mt-3" style="width: 200px;" onclick="submitForm()">
            <i class="fa fa-search"></i>
            <span class="h5">Search</span>
            </button>
         </div>
      </form>
      <hr>
      <div class="row p-5">
         <table class="table table-bordered table-striped" id="resultTable">
            <thead>
               <th>Artist</th>
               <th>Track</th>
               <th>Album Image Url</th>
               <th>Preview Url</th>
            </thead>
         </table>
      </div>
      <script>
         function submitForm() {
           var genre = document.getElementById("genre").value;
           var xhr = new XMLHttpRequest();
           xhr.open("GET", "/tracks/" + genre, true);
           xhr.onload = function() {
             if (xhr.status === 200) {
               displayResult(JSON.parse(xhr.responseText));
             }
           };
           xhr.send();
         }

         function displayResult(data) {

         if(data === null || data?.length === 0) return;

         var table = document.getElementById("resultTable");

         table.innerHTML = "";

         table.className = 'table table-bordered table-striped table-responsive';

         var thead = document.createElement("thead");
         var headerRow = document.createElement("tr");
         var headers = ["Artist", "Track", "Album Image Url","Preview Url"];
         headers.forEach(function (headerText) {
            var th = document.createElement("th");
            th.appendChild(document.createTextNode(headerText));
            headerRow.appendChild(th);
         });
         thead.appendChild(headerRow);
         table.appendChild(thead);

         var tbody = document.createElement("tbody");
         data.forEach(function (item) {
             var row = document.createElement("tr");

             var artistCell = document.createElement("td");
             artistCell.appendChild(document.createTextNode(item.artist));
             row.appendChild(artistCell);

             var trackCell = document.createElement("td");
             trackCell.appendChild(document.createTextNode(item.track));
             row.appendChild(trackCell);

             var imageCell = document.createElement("td");
             var image = document.createElement("img");
             image.src = item.album_image_url;
             image.width = 200;
             image.height = 200;
             imageCell.appendChild(image);
             row.appendChild(imageCell);

             if(item.preview_url !== null){
                var preview_imageCell = document.createElement("td");
                var link = document.createElement("a");
                link.href = item.preview_url;
                link.textContent = item.preview_url;
                preview_imageCell.appendChild(link);
                row.appendChild(preview_imageCell);
             }
             else{
                var preview_imageCell = document.createElement("td");
                preview_imageCell.appendChild(document.createTextNode("The required information from the service was not provided."));
                row.appendChild(preview_imageCell);
             }

             tbody.appendChild(row);
         });
         table.appendChild(tbody);
      }

      </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
   </body>
</html>